%form{:class => "salesforce-form", :action => data.salesforce.action, :method => "POST"}
    .form-group
        %input{:name => "oid", :type => "hidden", :value => data.salesforce.oid}
        %input{:name => "retURL", :type => "hidden", :value => fully_qualified_url(data.salesforce.forms[type].return_url)}
        %input{:name => "Campaign_ID", :type => "hidden", :value => data.salesforce.forms[type].campaign_id}
        - data.salesforce.forms[type].fields.each do |field|
            %label.control-label{:for => "salesforce-form-#{field.name}"} #{field.label}
            - if field.type == 'text'
                %input.form-control{:id => "salesforce-form-#{field.name}", :name => "#{field.name}", :type => "text", :required => field.required}
            - elsif field.type == 'country'
                %select{:id => "salesforce-form-#{field.name}", :name => "#{field.name}"}
                    %option{:value => ""} ---
                    %option{:value => "AFGHANISTAN"} AFGHANISTAN
                    %option{:value => "ÅLAND ISLANDS"} ÅLAND ISLANDS
                    %option{:value => "ALBANIA"} ALBANIA
                    %option{:value => "ALGERIA"} ALGERIA
                    %option{:value => "AMERICAN SAMOA"} AMERICAN SAMOA
                    %option{:value => "ANDORRA"} ANDORRA
                    %option{:value => "ANGOLA"} ANGOLA
                    %option{:value => "ANGUILLA"} ANGUILLA
                    %option{:value => "ANTARCTICA"} ANTARCTICA
                    %option{:value => "ANTIGUA AND BARBUDA"} ANTIGUA AND BARBUDA
                    %option{:value => "ARGENTINA"} ARGENTINA
                    %option{:value => "ARMENIA"} ARMENIA
                    %option{:value => "ARUBA"} ARUBA
                    %option{:value => "AUSTRALIA"} AUSTRALIA
                    %option{:value => "AUSTRIA"} AUSTRIA
                    %option{:value => "AZERBAIJAN"} AZERBAIJAN
                    %option{:value => "BAHAMAS"} BAHAMAS
                    %option{:value => "BAHRAIN"} BAHRAIN
                    %option{:value => "BANGLADESH"} BANGLADESH
                    %option{:value => "BARBADOS"} BARBADOS
                    %option{:value => "BELARUS"} BELARUS
                    %option{:value => "BELGIUM"} BELGIUM
                    %option{:value => "BELIZE"} BELIZE
                    %option{:value => "BENIN"} BENIN
                    %option{:value => "BERMUDA"} BERMUDA
                    %option{:value => "BHUTAN"} BHUTAN
                    %option{:value => "BOLIVIA, PLURINATIONAL STATE OF"} BOLIVIA, PLURINATIONAL STATE OF
                    %option{:value => "BONAIRE, SINT EUSTATIUS AND SABA"} BONAIRE, SINT EUSTATIUS AND SABA
                    %option{:value => "BOSNIA AND HERZEGOVINA"} BOSNIA AND HERZEGOVINA
                    %option{:value => "BOTSWANA"} BOTSWANA
                    %option{:value => "BOUVET ISLAND"} BOUVET ISLAND
                    %option{:value => "BRAZIL"} BRAZIL
                    %option{:value => "BRITISH INDIAN OCEAN TERRITORY"} BRITISH INDIAN OCEAN TERRITORY
                    %option{:value => "BRUNEI DARUSSALAM"} BRUNEI DARUSSALAM
                    %option{:value => "BULGARIA"} BULGARIA
                    %option{:value => "BURKINA FASO"} BURKINA FASO
                    %option{:value => "BURUNDI"} BURUNDI
                    %option{:value => "CAMBODIA"} CAMBODIA
                    %option{:value => "CAMEROON"} CAMEROON
                    %option{:value => "CANADA"} CANADA
                    %option{:value => "CAPE VERDE"} CAPE VERDE
                    %option{:value => "CAYMAN ISLANDS"} CAYMAN ISLANDS
                    %option{:value => "CENTRAL AFRICAN REPUBLIC"} CENTRAL AFRICAN REPUBLIC
                    %option{:value => "CHAD"} CHAD
                    %option{:value => "CHILE"} CHILE
                    %option{:value => "CHINA"} CHINA
                    %option{:value => "CHRISTMAS ISLAND"} CHRISTMAS ISLAND
                    %option{:value => "COCOS (KEELING) ISLANDS"} COCOS (KEELING) ISLANDS
                    %option{:value => "COLOMBIA"} COLOMBIA
                    %option{:value => "COMOROS"} COMOROS
                    %option{:value => "CONGO"} CONGO
                    %option{:value => "CONGO, THE DEMOCRATIC REPUBLIC OF THE"} CONGO, THE DEMOCRATIC REPUBLIC OF THE
                    %option{:value => "COOK ISLANDS"} COOK ISLANDS
                    %option{:value => "COSTA RICA"} COSTA RICA
                    %option{:value => "CÔTE D'IVOIRE"} CÔTE D'IVOIRE
                    %option{:value => "CROATIA"} CROATIA
                    %option{:value => "CUBA"} CUBA
                    %option{:value => "CURAÇAO"} CURAÇAO
                    %option{:value => "CYPRUS"} CYPRUS
                    %option{:value => "CZECH REPUBLIC"} CZECH REPUBLIC
                    %option{:value => "DENMARK"} DENMARK
                    %option{:value => "DJIBOUTI"} DJIBOUTI
                    %option{:value => "DOMINICA"} DOMINICA
                    %option{:value => "DOMINICAN REPUBLIC"} DOMINICAN REPUBLIC
                    %option{:value => "ECUADOR"} ECUADOR
                    %option{:value => "EGYPT"} EGYPT
                    %option{:value => "EL SALVADOR"} EL SALVADOR
                    %option{:value => "EQUATORIAL GUINEA"} EQUATORIAL GUINEA
                    %option{:value => "ERITREA"} ERITREA
                    %option{:value => "ESTONIA"} ESTONIA
                    %option{:value => "ETHIOPIA"} ETHIOPIA
                    %option{:value => "FALKLAND ISLANDS (MALVINAS)"} FALKLAND ISLANDS (MALVINAS)
                    %option{:value => "FAROE ISLANDS"} FAROE ISLANDS
                    %option{:value => "FIJI"} FIJI
                    %option{:value => "FINLAND"} FINLAND
                    %option{:value => "FRANCE"} FRANCE
                    %option{:value => "FRENCH GUIANA"} FRENCH GUIANA
                    %option{:value => "FRENCH POLYNESIA"} FRENCH POLYNESIA
                    %option{:value => "FRENCH SOUTHERN TERRITORIES"} FRENCH SOUTHERN TERRITORIES
                    %option{:value => "GABON"} GABON
                    %option{:value => "GAMBIA"} GAMBIA
                    %option{:value => "GEORGIA"} GEORGIA
                    %option{:value => "GERMANY"} GERMANY
                    %option{:value => "GHANA"} GHANA
                    %option{:value => "GIBRALTAR"} GIBRALTAR
                    %option{:value => "GREECE"} GREECE
                    %option{:value => "GREENLAND"} GREENLAND
                    %option{:value => "GRENADA"} GRENADA
                    %option{:value => "GUADELOUPE"} GUADELOUPE
                    %option{:value => "GUAM"} GUAM
                    %option{:value => "GUATEMALA"} GUATEMALA
                    %option{:value => "GUERNSEY"} GUERNSEY
                    %option{:value => "GUINEA"} GUINEA
                    %option{:value => "GUINEA-BISSAU"} GUINEA-BISSAU
                    %option{:value => "GUYANA"} GUYANA
                    %option{:value => "HAITI"} HAITI
                    %option{:value => "HEARD ISLAND AND MCDONALD ISLANDS"} HEARD ISLAND AND MCDONALD ISLANDS
                    %option{:value => "HOLY SEE (VATICAN CITY STATE)"} HOLY SEE (VATICAN CITY STATE)
                    %option{:value => "HONDURAS"} HONDURAS
                    %option{:value => "HONG KONG"} HONG KONG
                    %option{:value => "HUNGARY"} HUNGARY
                    %option{:value => "ICELAND"} ICELAND
                    %option{:value => "INDIA"} INDIA
                    %option{:value => "INDONESIA"} INDONESIA
                    %option{:value => "IRAN, ISLAMIC REPUBLIC OF"} IRAN, ISLAMIC REPUBLIC OF
                    %option{:value => "IRAQ"} IRAQ
                    %option{:value => "IRELAND"} IRELAND
                    %option{:value => "ISLE OF MAN"} ISLE OF MAN
                    %option{:value => "ISRAEL"} ISRAEL
                    %option{:value => "ITALY"} ITALY
                    %option{:value => "JAMAICA"} JAMAICA
                    %option{:value => "JAPAN"} JAPAN
                    %option{:value => "JERSEY"} JERSEY
                    %option{:value => "JORDAN"} JORDAN
                    %option{:value => "KAZAKHSTAN"} KAZAKHSTAN
                    %option{:value => "KENYA"} KENYA
                    %option{:value => "KIRIBATI"} KIRIBATI
                    %option{:value => "KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF"} KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF
                    %option{:value => "KOREA, REPUBLIC OF"} KOREA, REPUBLIC OF
                    %option{:value => "KUWAIT"} KUWAIT
                    %option{:value => "KYRGYZSTAN"} KYRGYZSTAN
                    %option{:value => "LAO PEOPLE'S DEMOCRATIC REPUBLIC"} LAO PEOPLE'S DEMOCRATIC REPUBLIC
                    %option{:value => "LATVIA"} LATVIA
                    %option{:value => "LEBANON"} LEBANON
                    %option{:value => "LESOTHO"} LESOTHO
                    %option{:value => "LIBERIA"} LIBERIA
                    %option{:value => "LIBYA"} LIBYA
                    %option{:value => "LIECHTENSTEIN"} LIECHTENSTEIN
                    %option{:value => "LITHUANIA"} LITHUANIA
                    %option{:value => "LUXEMBOURG"} LUXEMBOURG
                    %option{:value => "MACAO"} MACAO
                    %option{:value => "MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF"} MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF
                    %option{:value => "MADAGASCAR"} MADAGASCAR
                    %option{:value => "MALAWI"} MALAWI
                    %option{:value => "MALAYSIA"} MALAYSIA
                    %option{:value => "MALDIVES"} MALDIVES
                    %option{:value => "MALI"} MALI
                    %option{:value => "MALTA"} MALTA
                    %option{:value => "MARSHALL ISLANDS"} MARSHALL ISLANDS
                    %option{:value => "MARTINIQUE"} MARTINIQUE
                    %option{:value => "MAURITANIA"} MAURITANIA
                    %option{:value => "MAURITIUS"} MAURITIUS
                    %option{:value => "MAYOTTE"} MAYOTTE
                    %option{:value => "MEXICO"} MEXICO
                    %option{:value => "MICRONESIA, FEDERATED STATES OF"} MICRONESIA, FEDERATED STATES OF
                    %option{:value => "MOLDOVA, REPUBLIC OF"} MOLDOVA, REPUBLIC OF
                    %option{:value => "MONACO"} MONACO
                    %option{:value => "MONGOLIA"} MONGOLIA
                    %option{:value => "MONTENEGRO"} MONTENEGRO
                    %option{:value => "MONTSERRAT"} MONTSERRAT
                    %option{:value => "MOROCCO"} MOROCCO
                    %option{:value => "MOZAMBIQUE"} MOZAMBIQUE
                    %option{:value => "MYANMAR"} MYANMAR
                    %option{:value => "NAMIBIA"} NAMIBIA
                    %option{:value => "NAURU"} NAURU
                    %option{:value => "NEPAL"} NEPAL
                    %option{:value => "NETHERLANDS"} NETHERLANDS
                    %option{:value => "NEW CALEDONIA"} NEW CALEDONIA
                    %option{:value => "NEW ZEALAND"} NEW ZEALAND
                    %option{:value => "NICARAGUA"} NICARAGUA
                    %option{:value => "NIGER"} NIGER
                    %option{:value => "NIGERIA"} NIGERIA
                    %option{:value => "NIUE"} NIUE
                    %option{:value => "NORFOLK ISLAND"} NORFOLK ISLAND
                    %option{:value => "NORTHERN MARIANA ISLANDS"} NORTHERN MARIANA ISLANDS
                    %option{:value => "NORWAY"} NORWAY
                    %option{:value => "OMAN"} OMAN
                    %option{:value => "PAKISTAN"} PAKISTAN
                    %option{:value => "PALAU"} PALAU
                    %option{:value => "PALESTINIAN TERRITORY, OCCUPIED"} PALESTINIAN TERRITORY, OCCUPIED
                    %option{:value => "PANAMA"} PANAMA
                    %option{:value => "PAPUA NEW GUINEA"} PAPUA NEW GUINEA
                    %option{:value => "PARAGUAY"} PARAGUAY
                    %option{:value => "PERU"} PERU
                    %option{:value => "PHILIPPINES"} PHILIPPINES
                    %option{:value => "PITCAIRN"} PITCAIRN
                    %option{:value => "POLAND"} POLAND
                    %option{:value => "PORTUGAL"} PORTUGAL
                    %option{:value => "PUERTO RICO"} PUERTO RICO
                    %option{:value => "QATAR"} QATAR
                    %option{:value => "RÉUNION"} RÉUNION
                    %option{:value => "ROMANIA"} ROMANIA
                    %option{:value => "RUSSIAN FEDERATION"} RUSSIAN FEDERATION
                    %option{:value => "RWANDA"} RWANDA
                    %option{:value => "SAINT BARTHÉLEMY"} SAINT BARTHÉLEMY
                    %option{:value => "SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA"} SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA
                    %option{:value => "SAINT KITTS AND NEVIS"} SAINT KITTS AND NEVIS
                    %option{:value => "SAINT LUCIA"} SAINT LUCIA
                    %option{:value => "SAINT MARTIN (FRENCH PART)"} SAINT MARTIN (FRENCH PART)
                    %option{:value => "SAINT PIERRE AND MIQUELON"} SAINT PIERRE AND MIQUELON
                    %option{:value => "SAINT VINCENT AND THE GRENADINES"} SAINT VINCENT AND THE GRENADINES
                    %option{:value => "SAMOA"} SAMOA
                    %option{:value => "SAN MARINO"} SAN MARINO
                    %option{:value => "SAO TOME AND PRINCIPE"} SAO TOME AND PRINCIPE
                    %option{:value => "SAUDI ARABIA"} SAUDI ARABIA
                    %option{:value => "SENEGAL"} SENEGAL
                    %option{:value => "SERBIA"} SERBIA
                    %option{:value => "SEYCHELLES"} SEYCHELLES
                    %option{:value => "SIERRA LEONE"} SIERRA LEONE
                    %option{:value => "SINGAPORE"} SINGAPORE
                    %option{:value => "SINT MAARTEN (DUTCH PART)"} SINT MAARTEN (DUTCH PART)
                    %option{:value => "SLOVAKIA"} SLOVAKIA
                    %option{:value => "SLOVENIA"} SLOVENIA
                    %option{:value => "SOLOMON ISLANDS"} SOLOMON ISLANDS
                    %option{:value => "SOMALIA"} SOMALIA
                    %option{:value => "SOUTH AFRICA"} SOUTH AFRICA
                    %option{:value => "SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS"} SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS
                    %option{:value => "SOUTH SUDAN"} SOUTH SUDAN
                    %option{:value => "SPAIN"} SPAIN
                    %option{:value => "SRI LANKA"} SRI LANKA
                    %option{:value => "SUDAN"} SUDAN
                    %option{:value => "SURINAME"} SURINAME
                    %option{:value => "SVALBARD AND JAN MAYEN"} SVALBARD AND JAN MAYEN
                    %option{:value => "SWAZILAND"} SWAZILAND
                    %option{:value => "SWEDEN"} SWEDEN
                    %option{:value => "SWITZERLAND"} SWITZERLAND
                    %option{:value => "SYRIAN ARAB REPUBLIC"} SYRIAN ARAB REPUBLIC
                    %option{:value => "TAIWAN, PROVINCE OF CHINA"} TAIWAN, PROVINCE OF CHINA
                    %option{:value => "TAJIKISTAN"} TAJIKISTAN
                    %option{:value => "TANZANIA, UNITED REPUBLIC OF"} TANZANIA, UNITED REPUBLIC OF
                    %option{:value => "THAILAND"} THAILAND
                    %option{:value => "TIMOR-LESTE"} TIMOR-LESTE
                    %option{:value => "TOGO"} TOGO
                    %option{:value => "TOKELAU"} TOKELAU
                    %option{:value => "TONGA"} TONGA
                    %option{:value => "TRINIDAD AND TOBAGO"} TRINIDAD AND TOBAGO
                    %option{:value => "TUNISIA"} TUNISIA
                    %option{:value => "TURKEY"} TURKEY
                    %option{:value => "TURKMENISTAN"} TURKMENISTAN
                    %option{:value => "TURKS AND CAICOS ISLANDS"} TURKS AND CAICOS ISLANDS
                    %option{:value => "TUVALU"} TUVALU
                    %option{:value => "UGANDA"} UGANDA
                    %option{:value => "UKRAINE"} UKRAINE
                    %option{:value => "UNITED ARAB EMIRATES"} UNITED ARAB EMIRATES
                    %option{:value => "UNITED KINGDOM"} UNITED KINGDOM
                    %option{:value => "UNITED STATES"} UNITED STATES
                    %option{:value => "UNITED STATES MINOR OUTLYING ISLANDS"} UNITED STATES MINOR OUTLYING ISLANDS
                    %option{:value => "URUGUAY"} URUGUAY
                    %option{:value => "UZBEKISTAN"} UZBEKISTAN
                    %option{:value => "VANUATU"} VANUATU
                    %option{:value => "VENEZUELA, BOLIVARIAN REPUBLIC OF"} VENEZUELA, BOLIVARIAN REPUBLIC OF
                    %option{:value => "VIETNAM"} VIETNAM
                    %option{:value => "VIRGIN ISLANDS, BRITISH"} VIRGIN ISLANDS, BRITISH
                    %option{:value => "VIRGIN ISLANDS, U.S."} VIRGIN ISLANDS, U.S.
                    %option{:value => "WALLIS AND FUTUNA"} WALLIS AND FUTUNA
                    %option{:value => "WESTERN SAHARA"} WESTERN SAHARA
                    %option{:value => "YEMEN"} YEMEN
                    %option{:value => "ZAMBIA"} ZAMBIA
                    %option{:value => "ZIMBABWE"} ZIMBABWE
                    .select__text ---
            %br
        %button.btn.btn-primary.btn-lg{:type => "submit"}
            %span.glyphicon.glyphicon-refresh.icon-spinner{:style => "display: none;"}>
            =data.salesforce.forms[type].button_text