.socials
	%a.js-social-popup.btn--social.i-twitter{target: :blank, href: "https://twitter.com/intent/tweet?text=#{title}&via=uniqleads&related=&url=#{url}"}
	%a.js-social-popup.btn--social.i-facebook{target: :blank, href: "https://www.facebook.com/sharer/sharer.php?u=#{url}"}
	%a.js-social-popup.btn--social.i-linkedin{target: :blank, href: "https://www.linkedin.com/shareArticle?mini=true&url=#{url}&title=#{title}&summary=&source="}
